/*****************************Media For Tablets*************************/
@media only screen and (min-device-width: 768px){
	.overlay {
	  	height: 387px;
	}
	.headerImg {
	  	height: 387px;
	  	min-height: 387px;
	}
}
/*****************************Media For Tablets*************************/

/*****************************Media For Mobiles*************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navBar {
		height: 100px;
	}
	.headerImg {
		background: url(../img/header-img.jpg);
		background-size: cover;
		background-position: -540px 0px;
		background-repeat: no-repeat;
		height: 510px;
		min-height: 510px;
	}
	.bloco {
		margin-top: 100px;
		height: 250px;
	}
	.bloco h1 {
		line-height: 20px;
		margin-top: 55px;
	}
	.font-extra-big {
		font-size: 50px;
	}
	.font-big {
		font-size: 35px;
	}
	.med-mar {
		margin: 15px 0px;
	}
	.title {
		top: -43px;
		font-size: 37px;
	}
	.redes {
		height: auto;
	}
	.med-mar-redes {
		margin-bottom: 10px;
	}
	.newsletter input[type="text"] {
		width: 60%;
	}
	.newsletter input[type="submit"] {
		width: 40%;
	}
	.med-font-size {
		font-size: 20px;
	}
	.med-font-size-small {
		font-size: 11px;
	}
	dl.Zebra_Accordion dt.Zebra_Accordion_Expanded,
	dl.Zebra_Accordion dt {
		padding: 19px 5px;
		font-size: 16px;
	}
	dl.Zebra_Accordion dd {
		height: 270px;
	}
	.med-font-small-final{
		font-size: 21px;
	}
	.footer input[type="submit"] {
		width: 50%;
	}